.main{
    &.--form{
        .section{
            &.--form{
                max-height: 915px;
                height: 90vh;
                min-height: 100%;
                overflow: auto;
                padding-top: inherit;
                padding-bottom: inherit;
                box-shadow: $box-shadow;
                & .row{
                    background-color: $white;
                    border: 0px solid $border-color;
                    border-radius: $border-radius;
                    box-shadow: $box-shadow;
                    position: relative;
                    .btn{
                        position: absolute;
                        bottom: $m-gutter;
                        right: $m-gutter;
                        &.--previous{
                            top: $m-gutter;
                            left: $m-gutter;
                            background-color: transparent;
                            box-shadow: none;
                            bottom: inherit;
                            right: inherit;
                        }
                        &.--close{
                            top: $m-gutter;
                            left: $m-gutter;
                            bottom: inherit;
                            right: inherit;
                        }
                        &.--clear, &.--undo{
                            position: relative ;
                            bottom: inherit;
                            right: inherit;
                        }
                    }
                }
                & .col-9{
                    max-width: 1065px;
                    width: 100%;
                    min-height: 90vh;
                    //height: 84.72222222222222vh;
                    padding: $m-gutter;
                }
                & .col-3{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: $m-spacing-big;
                    padding-bottom: $m-spacing-big;            
                    background-color: $dark-blue;
                    color: $blue;
                    border-top-right-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                }
            }
        }
    }
    
}
.form{
    &__part{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1020px;
        width: 52vw;

        &.--fighter{

            .form__fighters{
                .fighters{
                    &__select{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        align-items: center;
                        max-width: 1025px;
                        width: 100%;
                        & input[type="checkbox"]{
                            display: none;
                        }
                        .f-select__fighter{
                            display: block;
                            position: relative;
                            margin-bottom: 0;
                            width: 9.090909090909091%;
                            cursor: pointer;
                            & img{
                                max-width: 100%;
                                height: auto;
                                background-color: $light-blue;
                                border: 2px solid $dark-blue;
                                border-radius: $border-radius;;
                            }
                        }
                        
                    }
                    &__chosen{
                        
                        .f-chosen{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            flex-wrap: nowrap;
                            &__el{
                                display: block;
                                position: relative;
                                width: 90px;
                                height: 90px;
                                background-color: $light-blue;
                                border-radius: $border-radius;
                                border: $border-dark-blue;
                                &.--main{
                                    
                                }
                                .el{
                                    &__move{
                                        //radio button chang in js if time allows
                                        & input[type="radio"]:checked + label[class*="assist-"]{
                                            background-color: $primary;
                                            color: $dark-blue;
                                        }
                                        & label{
                                            background-color: $light-blue;
                                            color: $dark-blue;
                                            border: $border-dark-blue;
                                            border-bottom-right-radius: $border-radius;
                                            width: 30%;
                                            cursor: pointer;
                                            text-align: center;
                                            margin-bottom: 0;
                                            &.assist{
                                                &-A{
                                                    background-color: $red-assist;
                                                    color:$light-blue;
                                                }
                                                &-B{
                                                    background-color: $blue-assist;
                                                    color:$light-blue;
                                                }
                                                &-C{
                                                    background-color: $green-assist;
                                                    color:$light-blue;
                                                }
                                            }
                                        }
                                        & input[type="radio"]{
                                            display: none;
                                        }
                                    }
                                    &__img{
                                        height: 100%;
                                        background-position: center;
                                        background-repeat: no-repeat;
                                        background-size: contain;
                                        white-space: nowrap;
                                        overflow: hidden;
                                    }
                                }
                            }
                        }
                    }
                    &__chosen{
                        max-width: 500px;
                        margin: 0 auto;
                        margin-top: $m-gutter;
                    }
                }
            }

        }
        &.--combo{
            .combo{
                width: 70%;
                &__name{
                    margin-bottom: $m-gutter;
                    & input{
                        background-color: $light-blue;
                        border: $border-dark-blue;
                        border-radius: $border-radius;
                        width: 100%;
                        padding: $m-quarter-gutter;
                        padding-top: 3px;
                        padding-bottom: 3px;
                    }
                }
                &__notation{
                    & label{
                        text-align: left;
                        margin-bottom: $m-gutter;
                    }
                    & input[name="notation"] {
                        visibility: hidden;
                        cursor: none;
                    }
                    & .c-notation{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        &__field{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-items: center;
                            height: auto;
                            width: 61%;
                            min-height: 60px;
                            background-color: $light-blue;
                            border: $border-dark-blue;
                            border-radius: $border-radius;
                        }
                        &__buttons{
                            width: 39%;
                            & .btn{
                                margin-left: $m-half-gutter;
                            }
                        }

                    }
                }
            }
        }
        &.--details{
            .details{
                display: flex;
                flex-wrap: wrap;
                width: 61%;
                &__damage{
                    margin-bottom: $m-spacing-smaller;
                    & input{
                        background-color: $light-blue;
                        border: $border-dark-blue;
                        border-radius: $border-radius;
                        width: 100%;
                        padding: $m-quarter-gutter;
                        padding-top: 3px;
                        padding-bottom: 3px;
                    }
                }
                &__ki{
                    margin-bottom: $m-spacing-smaller;
                    & input{
                        background-color: $light-blue;
                        border: $border-dark-blue;
                        border-radius: $border-radius;
                        width: 100%;
                        padding: $m-quarter-gutter;
                        padding-top: 3px;
                        padding-bottom: 3px;
                    }
                    & div{
                        width: 48%;
                    }
                }
                &__categories{
                    margin-bottom: $m-spacing-smaller;
                    .categories{
                        &__container{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            & input[type="checkbox"]{
                                display: none;
                                &:checked + label{
                                    background-color: $dark-blue;
                                }
                            }
                            & label{
                                color: $light-blue;
                                background-color: $fade-bg;
                                border: $border-dark-blue;
                                border-radius: $border-radius;
                                padding: .75rem .9375rem;
                                line-height: $font-size-base;
                                font-size: $font-size-base;
                                margin-right: $m-gutter;
                                margin-top: $m-half-gutter;
                                cursor: pointer;
                            }
                        }
                    }                
                }
                &__difficulty{
                    margin-bottom: $m-spacing-smaller;
                    .difficulty{
                        &__container{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            & input[type="radio"]{
                                display: none;
                                &:checked + label{
                                    background-color: $dark-blue;
                                }
                            }
                            & label{
                                color: $light-blue;
                                background-color: $fade-bg;
                                border: $border-dark-blue;
                                border-radius: $border-radius;
                                padding: .75rem .9375rem;
                                line-height: $font-size-base;
                                font-size: $font-size-base;
                                margin-right: $m-gutter;
                                margin-top: $m-half-gutter;
                                cursor: pointer;

                            }
                        }
                    }                    
                }
                &__youtube{

                    & input{
                        background-color: $light-blue;
                        border: $border-dark-blue;
                        border-radius: $border-radius;
                        width: 100%;
                        padding: $m-quarter-gutter;
                        padding-top: 3px;
                        padding-bottom: 3px;
                    }

                }
            }
        }
        &.--check{
            & .card{
                min-width: 446px;
                &__content{
                    .content{
                        &__body{
                            .body{
                                &__title{
                                    & .btn{
                                        &.--vod{
                                            position: inherit;
                                            bottom: inherit;
                                            right: inherit;
                                            & svg {
                                                position: inherit;
                                                top: inherit;
                                                left: inherit;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

.progression{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    &__list{
        list-style: none;
        margin: 0;
        padding: 0;
        margin-bottom: $m-spacing-smaller;
    }
    &__el{
        font-size: $font-size-base;
        margin-bottom: $m-half-gutter;
        &:last-child{
            margin-bottom: inherit;
        }
        &.currently{
            position: relative;
            &::before{
                content: '▶';
                position: absolute;
                top: 0;
                left: -1.125rem;
            }
        }
        &.done{
            position: relative;
            color: $primary;
            &::after{
                content: '\2713';
                font-size: $font-weight-bold;
                position: absolute;
                right: 0;
                //top: ;
            }
        }
    }
}
//checkbox Fighters
:checked + .f-select__fighter::before{
    content: attr(data-content);
    background-image: url('/storage/images/selected.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: $font-size-title-h3;
    line-height: $font-size-title-h3;
    text-align: center;
    padding-top: .4375rem;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 0;
    left: 0;
    margin: 25%;
}

