/*::-webkit-scrollbar{
    display: none;
}
::-webkit-scrollbar-button{
}
::-webkit-scrollbar-track{
}
::-webkit-slider-track-piece{
}
::-webkit-slider-thumb{
}
::-webkit-slider-corner{
}
::-webkit-resizer{
}*/

.body{
    padding-top: 76px;
    & img{
        max-width: 100%;
    }
    &.--form{
        padding-top: inherit;
        display: flex;
        justify-content: center;
        align-items: center;

        & .main{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
    }
    p{
        font-size: 1.125rem;
        max-width: 572px;
    }
}
iframe{
    border: 0px;
}
.hide{
    display: none !important;
}
.active{
    color: $primary !important;
    & .icon{
        fill: $primary !important;
        stroke: $primary !important;
    }
}
.section{
    padding-top: $m-spacing-big;
    padding-bottom: $m-spacing-big;
   
    &.--dark{
        background-color: $dark-blue;
        color: $blue;
    }
    &.--light{
        background-color: $dark-blue;
        color: $blue;
    }
    &.--what-is-cnz{
        .content {
            display: flex;
            justify-content: center;
            &__el{
                &.--left{
                    margin-right: $m-half-gutter;
                    max-width: 572px;
                    & p {
                        margin-bottom: $m-double-gutter;
                    }
                }
                &.--right{
                    margin-left: $m-half-gutter;
                }
            }
        }
    }
    &.--how-to-use{
        .discover{
            &__find{
                .find{
                    &__filter{
                        margin-bottom: $m-gutter;
                    }
                    &__legend{
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
            &__read{
                display: flex;
                flex-wrap: wrap;
                .read{
                    &__note{
                        display: flex;
                        min-width: 100%;
                        justify-content: center;
                        max-width: 453px;
                        .card{
                            width: 453px
                        }
                    }
                }
                & .btn-primary.--discover{
                    margin: auto;
                    margin-top: $m-spacing;
                    margin-bottom: $m-space-between-sections;
                }
            }
        }
        .create-note{
            &__intro{
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                margin-bottom: $m-spacing-bigger;
                .intro{
                    &__txt{
                        //width: 50%;
                    }
                    &__img{
                        width: 49.183%;
                        height: auto;
                        position: absolute;
                        top: -$m-space-between-sections;
                        right: 0;
                    }
                }
            }
            & .step{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: $m-spacing;
                &:last-child{
                    margin-bottom: $m-spacing-big;
                }
            }
        }
    }
    &.--guide{
        position: relative;
        .btn.--close{
            position: absolute;
            top: $m-gutter;
            right: $m-gutter;
            background-color: transparent;
            box-shadow: none;
        }
    }
}
.logo{
    &-letters{
        &__part{
            font-size: 1rem;
            line-height: 1rem;
            font-weight: $font-weight-bold;
            color: $dark-blue;
            text-transform: uppercase;
            &.--combo{
                color: $orange;
                padding-top: .15rem;
                font-weight: 400;
            }
            &.--note{
                letter-spacing: .25rem;
            }
            &.--Z{
                font-size: $font-size-big;
                line-height: $font-size-big;
            }
        }
    }
}
.container{
    &.--card{
        background-color: $gray-100;
        color: $dark-blue;
        border-radius: $border-radius;
        border: $border-transparent;
        box-shadow: $box-shadow;

        .section{
            &.--dark{
                margin-left: -5px;
                margin-right: -5px;
                &.--first{
                    border-top-left-radius: $border-radius;
                    border-top-right-radius: $border-radius;
                }
                &.--last{
                    border-bottom-left-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                }
            } 
        }
    }
}
.guide{
    &__imgs{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $m-spacing-smaller;
    }
    &__buttons{
        //width: 33%;
        .buttons{
            &__el{
                margin-bottom: $m-half-gutter;
            }
        }
    }
}
.terms{
    &__list{
        display: flex;
        justify-content: space-between;
    }
    &__el{
        width: 30%;
    }
}
.footer{
    background-color: $dark-blue;
    color: $light-blue;
    padding-top: $m-gutter;
    padding-bottom: $m-gutter;
    .col-4{
        margin: auto;
    }
    &__content{
        text-align: center;
    }
}