/*::-webkit-scrollbar{
    display: none;
}
::-webkit-scrollbar-button{
}
::-webkit-scrollbar-track{
}
::-webkit-slider-track-piece{
}
::-webkit-slider-thumb{
}
::-webkit-slider-corner{
}
::-webkit-resizer{
}*/
/*ALL pages*/
::selection {
    color: $light-blue;
    background: $primary-dark;
  }
.body{
    padding-top: 76px;
    & img{
        max-width: 100%;
    }
    &.--form{
        padding-top: inherit;
        display: flex;
        justify-content: center;
        align-items: center;

        & .main{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
    }
    p{
        font-size: $font-size-base;
        max-width: 572px;
    }
    &.--no-head-foot{
        min-width: 100vw;
        height: 100vh;
        padding-top: 0;
        display: flex;
        align-items: center;
        & .app{
            width: 100%;
        }
    }
}
iframe{
    border: 0px;
}
.hide{
    display: none !important;
}
.visually-hidden{
    visibility: hidden;
}
.active{
    color: $primary !important;
    & .icon{
        fill: $primary !important;
        stroke: $primary !important;
    }
}
.section{
    padding-top: $m-spacing-big;
    padding-bottom: $m-spacing-big;
   
    &.--dark{
        background-color: $dark-blue;
        color: $blue;
    }
    &.--light{
        background-color: $dark-blue;
        color: $blue;
    }
    /*Home page*/
    &.--what-is-cnz{
        .content {
            display: flex;
            justify-content: center;
            &__el{
                &.--left{
                    margin-right: $m-half-gutter;
                    max-width: 572px;
                    & p {
                        margin-bottom: $m-double-gutter;
                    }
                }
                &.--right{
                    margin-left: $m-half-gutter;
                }
            }
        }
    }
    &.--how-to-use{
        & h2{
            & ~ span.--sub{
                margin-bottom: $m-spacing-small;
            }
        }
        .discover{
            & h4.title{
                line-height: $font-size-title-h3;
            }
            &__find{
                margin-bottom: $m-spacing;
                .find{
                    &__filter{
                        margin-bottom: $m-gutter;
                    }
                    &__legend{
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
            &__read{
                display: flex;
                flex-wrap: wrap;
                .read{
                    &__note{
                        display: flex;
                        min-width: 100%;
                        justify-content: space-between;
                        max-width: 453px;
                        
                        & .note{
                            &__desc{
                                flex-basis: 25%;
                                & .desc{
                                        &__list{
                                            display: flex;
                                            height: 100%;
                                            flex-wrap: wrap;
                                            justify-content: space-between;
                                            padding-right: $m-spacing-smaller;
                                        }
                                        &__el{
                                            font-size: $font-size-title-sub;
                                            width: 100%;
                                            align-self: center;
                                            opacity: $opacity-not-visible;
                                            padding: $m-quarter-gutter;
                                            &.--active{
                                                font-weight: $font-weight-bold;
                                                opacity: $opacity-visible;
                                                background-color: #061C2D;
                                                color: #EBF6FF;
                                                border-radius: $border-radius
                                            }
                                        }
                                }
                                &.--right{
                                    & .desc{
                                        &__list{
                                            padding-right: inherit;
                                            padding-left: $m-spacing;
                                        }
                                    }
                                }
                            }
                        }
                        & .card{
                            max-width: 453px;
                            min-width: 453px;
                            flex-basis: 50%;
                            & .fighter{
                                opacity: $opacity-not-visible;
                                &:hover{
                                    /*
                                    position: relative;
                                    &::before{
                                        position: absolute;
                                        opacity: 80%;
                                        right: 93%;
                                        content: "▶";
                                        transform: rotate(0deg);
                                        font-size: $font-size-base;
                                        font-family: $font-family-sans-serif-condensed;
                                        padding: $m-half-gutter;
                                        color: $dark-blue;
                                        border-radius: $border-radius;
                                        white-space: nowrap;
                                    }
                                    &::after{
                                        position: absolute;
                                        opacity: 80%;
                                        right: 118%;
                                        content: "Main Fighter";
                                        font-size: $font-size-base;
                                        font-family: $font-family-sans-serif-condensed;
                                        padding: $m-half-gutter;
                                        background-color: $dark-blue;
                                        color: $light-blue;
                                        border-radius: $border-radius;
                                        white-space: nowrap;
                                    }
                                    */
                                }
                                &.--active{
                                    opacity: $opacity-visible;
                                }
                            }
                            & .assist{
                                opacity: $opacity-not-visible;
                                &.--active{
                                    opacity: $opacity-visible;
                                }
                            }
                            & .r-header__container{
                                opacity: $opacity-not-visible;
                                &.--active{
                                    opacity: $opacity-visible;
                                }
                            }
                            & .title.--note{
                                opacity: $opacity-not-visible;
                                &.--active{
                                    opacity: $opacity-visible;
                                }
                            }
                            & .btn.--vod{
                                opacity: $opacity-not-visible;
                                &.--active{
                                    opacity: $opacity-visible;
                                }
                            }
                            & .body__main{
                                opacity: $opacity-not-visible;
                                & .notation{
                                    opacity: $opacity-visible;
                                }
                                &.--active{
                                    opacity: $opacity-visible;
                                }
                            }
                            & .user__info{
                                opacity: $opacity-not-visible;
                                &.--active{
                                    opacity: $opacity-visible;
                                }
                            }
                            & .interactions{
                                opacity: $opacity-not-visible;
                                &.--active{
                                    opacity: $opacity-visible;
                                }
                            }
                        }
                    }
                }
                & .btn-primary.--discover{
                    margin: auto;
                    margin-top: $m-spacing;
                    margin-bottom: $m-space-between-sections;
                }
            }
        }
        .create-note{
            &__intro{
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                margin-bottom: $m-spacing-bigger;
                .intro{
                    &__txt{
                        //width: 50%;
                    }
                    &__img{
                        width: 49.183%;
                        height: auto;
                        position: absolute;
                        top: -$m-space-between-sections;
                        right: 0;
                    }
                }
            }
            & .step{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: $m-spacing-big;
                & img{
                    box-shadow: $box-shadow;
                }
                &:last-child{
                    margin-bottom: $m-spacing-big;
                }
            }
        }
    }
    /*Home page*/
    &.--side-page{
        position: relative;
        .btn.--close{
            position: absolute;
            top: $m-gutter;
            right: $m-gutter;
            background-color: transparent;
            box-shadow: none;
        }
        & .credits{
            &__content{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: $m-spacing-big;
            }
            &__img{
                max-width: 572px;
            }
            & img{
                border-radius: $border-radius;  
            }
        }
        & .techno{
            &__content{
                display: flex;
                justify-content: center;
            }
        }
        & .list{
            list-style: none;
            &.--list-style {
                list-style: inside;
                padding-left: 1.25rem ;
                &.--first{
                    
                    & .list__el:first-child{
                        color: $primary;
                    }
                }
            }
            .list__el {
                padding: .75rem 0;
                 &.--no-p{
                    margin-left: 0;
                }
                & > a.link{
                    margin-left: 1em;
                    &::before{
                        content: "\2022";
                        color: $primary;
                        font-weight: bold;
                        display: inline-block;
                        font-size: $font-size-base; 
                        width: 1.25em;
                        margin-left: 0;
                    }                    
                }
            }
        }  
    }
}
/*Nav bar*/
.logo{
    &-letters{
        &__part{
            font-size: 1rem;
            line-height: 1rem;
            font-weight: $font-weight-bold;
            color: $dark-blue;
            text-transform: uppercase;
            &.--combo{
                color: $orange;
                padding-top: .15rem;
                font-weight: 400;
            }
            &.--note{
                letter-spacing: .25rem;
            }
            &.--Z{
                font-size: $font-size-big;
                line-height: $font-size-big;
            }
        }
    }
}
.container{
    /*All pages similar looking to Home page and Guide */
    &.--card{
        background-color: $gray-100;
        color: $dark-blue;
        border-radius: $border-radius;
        border: $border-transparent;
        box-shadow: $box-shadow;
        .section{
            &.--dark{
                margin-left: -5px;
                margin-right: -5px;
                &.--first{
                    border-top-left-radius: $border-radius;
                    border-top-right-radius: $border-radius;
                }
                &.--last{
                    border-bottom-left-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                }
            } 
        }
    }
}
/*Guide btn on homepage*/
.guide{
    &__imgs{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $m-spacing-smaller;
    }
    &__buttons{
        .buttons{
            &__el{
                margin-bottom: $m-half-gutter;
            }
        }
    }
}
.terms{
    &__list{
        display: flex;
        justify-content: space-between;
    }
    &__el{
        width: 30%;
    }
}
.footer{
    background-color: $dark-blue;
    color: $light-blue;
    padding-top: $m-gutter;
    padding-bottom: $m-gutter;
    .col-4{
        margin: auto;
    }
    &__content{
        text-align: center;
    }
}
.loader{
    &-ellips{
        & .infinite-scroll-request{
            display: flex !important;
            justify-content: center !important;
        }
    }
}