body{
    color: $text-color;
    font-family: $font-family-sans-serif;
}

.title{
    font-weight: $font-weight-bold;
    font-size: $font-size-title-h2;
    margin-bottom: $m-h2;
    &.--has-sub{
        margin-bottom: $m-half-gutter;
    }
    &.--main{
        font-size: $font-size-title-h1;
        margin-bottom: $m-spacing-big;
    }
    &.--h3{
        font-size: $font-size-title-h3;
    }
    &.--h4{
        font-size: $font-size-title-sub;
        margin-bottom: $m-spacing-smaller;
    }
    &.--sub{
        display: block;
        font-weight: $font-weight-base;
        font-size: $font-size-title-sub;
    }
    &.--form{
        font-weight: $font-weight-base;
        font-size: $font-size-big;
        text-align: center;
    }
    &.--progression{
        font-weight: $font-weight-base;
        font-size: $font-size-big;
        color:  $blue;
    }
    &.--small{
        font-weight: $font-weight-base;
        font-size: $font-size-title-h3;
        line-height: $font-size-title-h3;
        margin-bottom: $m-half-gutter;
    }
    &.--filter{
            font-size: $font-size-filter;
            line-height: $font-size-filter;
            font-weight: $font-weight-base;
    }
}

.cb-combo__name{
    font-size: $font-size-title-sub;
}