//Color
$primary:       #FFAA2B;
$primary-dark:  #DF8C0F;
$light-blue:    #EBF6FF;
$dark-blue:     #061C2D;
$red-assist:     #F85656;
$blue-assist:    #1085DE;
$green-assist:   #3DAF4A;
$fade-bg: rgba(#061C2D, .3);
$light-fade-bg: rgba(#EBF6FF, .3);

// Body
$body-bg: $blue;
$text-color: $dark-blue;

// Typography
$font-family-sans-serif: 'Saira', sans-serif;
$font-family-sans-serif-condensed: 'Saira Condensed', condensed;
$font-size-base: 1.125rem;
$line-height-base: 1.388;
$font-weight-bold: 700;

$font-size-title-h1: 3.8125rem; //61px
$font-size-title-h2: 3.0625rem; //49px
$font-size-big: 2.4375rem; //39px
$font-size-title-h3: 2rem;//32px
$font-size-title-sub: 1.5625rem;//25px
$font-size-filter: 1.25rem;//20px

//paddings and margins

$ml-icon-text: .3125rem;

$p-form-form: 2.5rem;


$m-quarter-gutter: .3125rem;//5px
$m-half-gutter: .625rem;//10px
$m-gutter: calc(.625rem * 2) ;//20px
$m-double-gutter: calc(.625rem * 4) ;//40px
$m-spacing-smaller: 1.875rem;//30px
$m-spacing-small: 3.125rem;//50px
$m-spacing: 3.75rem;//60px
$m-spacing-big: 4.375rem;//70px
$m-spacing-bigger: 5.625rem;//90px
$m-space-between-sections: 7.5rem;//120px

$p-button: .9375rem;


$m-h2: 1.875rem;

// Colors
$cta : $orange;

//**Border**//
$border-color: transparent;
$border-radius: .4rem !default;
$border-radius-lg: .4rem !default;
$border-radius-sm: 0.222rem;
$border-dark-blue: 1px solid $dark-blue;
$border-transparent: 1px solid transparent;

//**Box shadow**//
$box-shadow-sm: 0 0.333rem 0.444rem rgba($dark-blue, .1);
$box-shadow: 0 0.333rem 0.444rem rgba($dark-blue, .1);
$box-shadow-lg: 0 0.333rem 0.444rem rgba($dark-blue, .1);
